<!-- 管理絞り込み -->
<div class="side">
      <div class="side-menu-inner">
      <h4>絞り込み</h4>
        <ul>
          <li><%=link_to "全て","https://ozoz.wjg.jp/" %></li>
          <li><%=link_to "ファッション","https://ozoz.wjg.jp/static_pages/1/index" %></li>
          <li><%=link_to "書籍","https://ozoz.wjg.jp/static_pages/2/index" %></li>
          <li><%=link_to "ゲーム","https://ozoz.wjg.jp/static_pages/3/index" %></li>
          <li><%=link_to "コスメ","https://ozoz.wjg.jp/static_pages/4/index" %></li>
          <li><%=link_to "家電","https://ozoz.wjg.jp/static_pages/5/index" %></li>
          <li><%=link_to "食料品","https://ozoz.wjg.jp/static_pages/6/index" %></li>
          <li><%=link_to "音楽","https://ozoz.wjg.jp/static_pages/7/index" %></li>
          <li><%=link_to "日用品","https://ozoz.wjg.jp/static_pages/8/index" %></li>
          <li><%=link_to "薬","https://ozoz.wjg.jp/static_pages/9/index" %></li>
          <li><%=link_to "文房具","https://ozoz.wjg.jp/static_pages/10/index" %></li>
          <li><%=link_to "スポーツ＆アウトドア","https://ozoz.wjg.jp/static_pages/11/index" %></li>
          <li><%=link_to "車、バイク","https://ozoz.wjg.jp/static_pages/12/index" %></li>
          <li><%=link_to "ベビー、おもちゃ","https://ozoz.wjg.jp/static_pages/13/index" %></li>
          <li><%=link_to "家具","https://ozoz.wjg.jp/static_pages/14/index" %></li>
          <li><%=link_to "パソコン、オフィス用品","https://ozoz.wjg.jp/static_pages/15/index" %></li>
          <li><%=link_to "その他","https://ozoz.wjg.jp/static_pages/16/index" %></li>
      </ul>
    </div>
  </div>

