<!--いいねボタンは自分のthing以外の場合に表示-->
    <span class="keep">
    <!--既にいいねしている場合は、いいねボタンを塗りつぶされたハートとし、押下時にdestroyを呼ぶ-->
    <% if thing.keep?(current_user) %>
      <%= form_with(model: thing.keeps.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs button-keep") do %>
          <%= content_tag :span, "", class: "glyphicon glyphicon-bookmark keep-color" %>
        <% end %>
      <% end %>
    <% else %>
    <!--いいねしていない場合は、いいねボタンを塗りつぶされていないハートとし、押下時にcreateを呼ぶ-->
      <%= form_with(model: thing.keeps.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :thing_id, thing.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs button-keep") do %>
          <%= content_tag :span, "", class: "glyphicon glyphicon-bookmark glyphicon-bookmark-empty" %>
        <% end %>
      <% end %>
    <% end %>
  </span>