<table border="1">
<caption><%= link_to thing.user.name, user_path(thing.user) %></caption>
<tr>
  <th>
    タイトル
  </th>
  <td>
    <span class="content"><%= link_to thing.thing_name, thing_path(thing) %></span>
  </td>
</tr>

<tr>
  <th>
    画像
  </th>
  <td>
      <% if thing.thingImage.attached? %>
        <%= image_tag thing.display_image if thing.thingImage.attached? %>
      <% else%>
        なし
      <% end %>
  </td>
</tr>
  <tr>
    <th>
      <% if current_user?(@user) %>
        <%= link_to "削除", thing, method: :delete , data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </th>
    <th>
      <% if current_user?(@user) %>
        <%= link_to "編集", edit_thing_path(thing)%>
      <% end %>
    </th>
  </tr>
</table>
<br>