<table border="1">
<caption class="icon-image-user-name">
<%= link_to user_path(thing.user) do %>
  <span class="mini-icon-image">
    <% if thing.user.image.attached? %>
      <%= image_tag thing.user.display_image2 if thing.user.image.attached? %>
    <% end %>
  </span>
  <span><%= thing.user.user_name %></span>
<% end %>
</caption>
<tr>
  <th>
    タイトル
  </th>
  <td>
    <span class="content"><%= link_to thing.thing_name, thing_path(thing) %></span>
  </td>
</tr>

<tr>
  <th>
    画像
  </th>
  <td>
      <% if thing.thingImage.attached? %>
        <%= image_tag thing.display_image if thing.thingImage.attached? %>
      <% else%>
        なし
      <% end %>
  </td>
</tr>
  <tr>
    <th>
      <% if current_user?(@user) %>
        <%= link_to "削除", thing, method: :delete , data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </th>
    <th>
      <% if current_user?(@user) %>
        <%= link_to "編集", edit_thing_path(thing)%>
      <% end %>
    </th>
  </tr>
</table>
<br>