

<%= form_with(model: @thing, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 <div class="thing-new-edit-div">
      <h2>item情報の編集</h2>
      <p>下記の項目をご入力いただき、【送信】ボタンを押してください</p>
      <table>
        <tbody>
          <tr>
            <th>写真<span class="hissu">必須</span></th>
            <td class="file-td"><%= f.file_field :thingImage,{class: "input-file"}%><span id="image"></span></td>
          </tr>
          <tr>
            <th>物品名<span class="hissu">必須</span></th>
            <td><%= f.text_field :thing_name%></td>
          </tr>
          <tr>
            <th>タイプ</th>
            <td>
              <%= f.select :thing_type,[['ファッション', 1], ['書籍', 2],['ゲーム',3], ['コスメ', 4],['家電',5], ['食料品', 6],['音楽',7],
     ['日用品', 8],['薬',9], ['文房具', 10],['スポーツ＆アウトドア',11], ['車、バイク', 12],['ベビー、おもちゃ',13], ['家具', 14],['パソコン、オフィス用品',15],['その他',16]], { id: "user_id", class: "user_class" 'form-control'}%>
            </td>
          </tr>
          <tr>
            <th>評価</th>
            <td>
              <%= f.select :thing_assessment,[[0,"0"],[0.5,"0-5"],[1,"1"],[1.5,"1-5"],[2,"2"],[2.5,"2-5"],[3,"3"],[3.5,"3-5"],[4,"4"],[4.5,"4-5"],[5,"5"]] %>
          </td>
          </tr>
          <tr>
            <th>価格<span class="hissu">必須</span></th>
            <td><%= f.number_field :thing_price,placeholder:"例　1000 (円)",min: 0,step:1000 %></td>
          </tr>
          <tr>
            <th>購入日<span class="hissu">必須</span></th>
            <td><%= f.date_field :purchase_date %></td>
          </tr>
          <tr>
            <th>購入場所<span class="hissu">必須</span></th>
            <td><%= f.text_field :thing_purchase_place %></td>
          </tr>
          <tr>
            <th>コメント</th>
            <td><%= f.text_area :thing_comment %></td>
          </tr>
          <tr>
            <th>ユーザー公開</th>
            <td><%= f.check_box :thing_shear ,{},checked_value = "true", unchecked_value = "false"%></td>
          </tr>
        </tbody>
      </table>
      <div class="btn-div"><%= f.submit "登録", class: "btn btn-primary" %></div>
    </div>
    <% end %>