<div class="thing-show-div">
      <div class="content">
        <div class="main_box">
          <div class="post_user_box">
            <div class="post_user_icon_block">
              <%= image_tag @user.display_image_profile2 if @user.image.attached? %>
            </div>
            <div class="post_user_name_block">
              <p name="post_user_name" id="post_user_name"><%= user_name_print(@thing.user.user_name)%></p>
            </div>
          </div>
          <div class="post_img_box">
           <!-- <img src="img.jpg" id="post_img" /> -->
           <%= image_tag @thing.display_image_show if @thing.thingImage.attached? %>
          </div>
          <div class="footer">
            <div class="post_footer_menu">
              <div class="star-rating">
                <p class="star-rating-front rate rate<%= @thing.thing_assessment%>"></p>
              </div>

              <div class="post_like_box" id="thing-<%= @thing.id %>">
               <%= render "likes/like", thing: @thing %>
              </div>

              <!--keep-->
              <span id="thing-keep-<%= @thing.id %>" class="keep-thing-show">
              <%= render "keeps/keep", thing: @thing %>
              </span>
            </div>
            <div class="post_text_box">
              <p>
                <%= @thing.thing_comment %>
              </p>
            </div>
          </div>
        </div>
        <div class="post_comment_main">
        <div class="thing-syousai-div">
        <table>
          <tr>
            <th>タイトル</th>
            <td><%= @thing.thing_name %></td>
          </tr>
          <tr>
            <th>価格</th>
            <td><%= @thing.thing_price %> 円</td>
          </tr>
          <tr>
            <th>購入日</th>
            <td><%= @thing.purchase_date %> </td>
          </tr>
          <tr>
            <th>購入場所</th>
            <td><%= @thing.thing_purchase_place %> </td>
          </tr>
        </table>
          </div>
          <div class="post_comment_post_box">
            <%= form_with model: [@thing, @comment], local: true do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
              <div class="post_comment_post_user_icon_block">
                <%= image_tag @current_user.display_image_profile2 if @current_user.image.attached? %>
              </div>
              <%= f.text_area :content, class: 'form-control',　id:'post_comment_textbox',
              placeholder: "コメントを記入してください" %>

              <%= f.submit "投稿", class: "post_button" %>
            <% end %>
          </div>
          <div class="post_comment_box">
            <% @comments.each do |comment| %>
              <div class="post_comment_block">
                <div class="post_comment_user_box">
                  <div class="post_comment_user_icon_block">
                    <%= image_tag comment.user.display_image_profile2 if comment.user.image.attached? %>
                  </div>
                  <div class="post_comment_body">
                    <div class="post_comment_user_name_block">
                      <p
                        name="post_comment_user_name"
                        id="post_comment_user_name"
                      >
                        <%= comment.user.user_name %>
                      </p>
                      <p>&nbsp;&nbsp;</p>
                      <p class="post_comment_time"><%= comment.how_long_ago %></p>
                    </div>
                    <div class="post_comment_main">
                      <p><%= comment.content %></p>
                      <% if current_user == comment.user%>
                        <%= link_to '削除', thing_comment_path(@thing, comment), method: :delete %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>