<% visiter = notification.visiter %>
<% thing = notification.thing %>
<% title = notification.title%>


      <div class="notification_content">
        <header>
          <h3><%= title %></h3>
          <p class="content_date">
            <span><%= notification.how_long_ago %></span>
          </p>
        </header>
        <%= link_to user_path(notification.visiter) do %>
          <span class="mini-icon-image">
              <%= image_tag notification.visiter.display_image3 if notification.visiter.image.attached? %>
          </span>
        <% end %>
        <%= notification_form(notification) %>
        <% if !@comment.nil? %>
          <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
        <% end %>
      </div>