<!--いいねボタンは自分のマイクロポスト以外の場合に表示-->
<% if !current_user?(thing.user) %>
    <span class="like">
    <!--既にいいねしている場合は、いいねボタンを塗りつぶされたハートとし、押下時にdestroyを呼ぶ-->
    <% if thing.iine?(current_user) %>
      <%= form_with(model: thing.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{thing.likes_count}", class: "glyphicon glyphicon-heart" %>
        <% end %>
      <% end %>
    <% else %>
    <!--いいねしていない場合は、いいねボタンを塗りつぶされていないハートとし、押下時にcreateを呼ぶ-->
      <%= form_with(model: thing.likes.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :thing_id, thing.id %></div>
        <%= button_tag(class: "btn btn-default btn-xs") do %>
          <%= content_tag :span, "#{thing.likes_count}", class: "glyphicon glyphicon-heart-empty" %>
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>
