<div class="user-profile">
  <div class="modal__content">
    <div class="profile_top">
      <div class="profile_img_block">
        <% if @user.image.attached? %>
        <%= image_tag @user.display_image_profile300 if @user.image.attached? %>
        <% end %>
      </div>
      <div class="profile_header">
        <div class="profile_name_block">
          <p id="profile_name"><%= name_print(@user.name) %></p>
          <p id="profile_user_name"><%= user_name_print(@user.user_name) %></p>
        </div>
        <%= render "shared/stats"%>
        <!--フォロー-->
        <div class="profile-comment-div">
          <p id="profile_comment"><%= @user.user_comment %></p>
        </div>
        <div class="profile_body">
          <%= render 'follow_form' if logged_in? %>
          <% if current_user?(@user) %>
          <div class="settei-btn">
            <i class="fa fa-2x fa-cog" id="login-show"></i>
          </div>

<div class="settei-modal" id="login-modal">
    <div class="settei-modal-main">
      <div>
        <i class="fa fa-2x fa-times" id="close-modal"></i>
      </div>
      <div>
        <ul>
          <p class="settei-modal-p"><li><%= link_to "アイテム登録", new_thing_path%></li></p>
          <p class="settei-modal-p"><li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li></p>
          <p class="settei-modal-p"><li><%= link_to "パスワード変更",edit_password_edit_path(current_user)%></li></p>
          <p class="settei-modal-p"><li><%= link_to "ログアウト", logout_path, method: :delete %></li></p>
        </ul>
      </div>
    </div>
</div>
          <% end %>
        </div>
      </div>
    </div>
      <div class="user-show-main">
      <% if (current_user?(@user)) %>
        <%= render "/users/show_main"%>
      <% else %>
        <% if(@things.any?)%>
          <div class="home-things-div">
            <%= render @things %>
            <%= will_paginate @things, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
          </div>
        <%end%>
      <% end %>
      </div>
  </div>
</div>
