<div class="user-profile">
        <div class="modal__content">
            <div class="profile_img_block">
                <% if @user.image.attached? %>
                  <%= image_tag @user.display_image_profile2 if @user.image.attached? %>
                <% end %>
            </div>
            <div class="profile_header">
                <div class="profile_name_block">
                    <p id="profile_name"><%= name_print(@user.name) %></p>
                    <p id="profile_user_name"><%= user_name_print(@user.user_name) %></p>
                </div>
                <%= render "shared/stats"%> <!--フォロー-->
            </div>

            <div class="profile_body">
            <%= render 'follow_form' if logged_in? %>
              <% if current_user?(@user) %>
                  <div class="settei-btn">
                    <i class="fa fa-2x fa-cog"></i>
                  </div>
              <% end %>
                <div class="profile-comment-div">
                    <p id="profile_comment"><%= @user.user_comment %></p>
                </div>
            </div>
        </div>
        <!--modal__inner-->
    </div>
    <!--modal-->
    <div class="profile-thing col-md-8">

      <% if @user.things.any? %>
          <h3>Things (<%= @user.things.count %>)</h3>
          <div class="home-things-div">
            <%= render @things %>
          </div>
          <%= will_paginate @things %>
        <% end %>

      <% if current_user.id == @user.id%>
        <li><%= link_to "物登録", new_thing_path%></li>
        <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
        <li><%= link_to "パスワード変更",edit_password_edit_path(current_user)%></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete%></li>
      <% end %>
    </div>
