
<h1>特定のユーザーを表示するページ</h1>

<table border="1">
  <tr>
      <th>画像</th>
      <td>
        <% if @user.image.attached? %>
          <%= image_tag @user.image.variant(combine_options:{resize:"240x240^",crop:"640x640+0+0",gravity: :center}).processed %>
        <% end %>
      </td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>ユーザーネーム</th>
    <td><%= @user.user_name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= @user.user_comment %></td>
  </tr>
</table>
