<header class="header">
  <div class="header-main-div">
    <i class="fab fa-cuttlefish fa-3x title"></i>

    <!--検索欄-->
    <% if logged_in? %>
      <form method="get" action="/kensaku" class="search_container">
        <input type="search" size="40" placeholder="ユーザー検索" name=<%=:user_name %>>
      </form>

      <!--管理ホーム（ホーム）へのリンク-->
      <%= link_to root_path,{class: "home-link"} do %>
        <i class="fas fa-home fa-lg fa-home" title="ホーム"></i>
      <% end %>

      <!--地球ホームへのリンク-->
      <%= link_to "/static_pages/home",{class: "home-link"} do %>
        <i class="fas fa-globe fa-lg fa-globe" title="グローバル"></i>
      <% end %>

      <!--アイテム追加ページへのリンク-->
      <%= link_to new_thing_path,{class: "home-link"} do %>
        <i class="fas fa-lg fa-plus-square" title="追加"></i>
      <% end %>

      <!--通知マーク-->
      <% if unchecked_notifications.any? %>
        <i class="fa fa-circle" style="color: gold;"></i>
      <% end %>

      <%= link_to "/notifications",{class: "home-link"} do %>
        <i class="fa fa-bell" style="font-size: 18px;"></i>
      <% end %>

      <%= link_to current_user do%>
        <span class="mini-icon-image" title="プロフィール">
          <% if @current_user.image.attached? %>
            <%= image_tag @current_user.display_image2 if @current_user.image.attached? %>
          <% end %>
        </span>
      <% end %>


    <% else %>
      <div class="no-login-div">
        <i class="login" id="login-show">ログイン</i>
        <!-- ゲストユーザでログイン -->
        <%= link_to '/guestlogin' do%>
          <i class="login">ゲストでログイン</i>
        <% end %>
      </div>
    <% end %>
  </div>
</header>

  <div class="flash-css flash">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </div>
