<%# <header class="navbar navbar-fixed-top navbar-inverse"> %>
<header class="header">
  <div class="top">
    <h1> <%= link_to "ＴＩＴＬＥ", root_path, id: "logo", class:"header_title"%> </h1>
      <!--検索欄-->
    <%= form_with(url: '/kensaku',method: :get,local: true) do |f| %>
      <%#= f.label :user_name ,"ユーザネーム"%>
      <%= f.text_field :user_name, class: 'search_container',placeholder: "ユーザー検索",size: "40"%>
      <%#= f.submit '検索' , class: "btn btn-primary kensaku_btn"%>
    <%end%>
  </div>


<!--ハンバーガーメニュー　内部-->
  <nav class="global-nav">
    <ul class="global-nav__list">
      <li class="global-nav__item"><%= link_to "ホーム", root_path%></li>
      <% if logged_in? %>
        <li class="global-nav__item"><%= link_to "物登録", new_thing_path%></li>
        <li class="global-nav__item"><%= link_to "プロフィール", current_user%></li>
        <li class="global-nav__item"><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
        <li class="global-nav__item"><%= link_to "ログアウト", logout_path, method: :delete%></li>
      <% else %>
        <li class="global-nav__item" id="login-show">ログイン</li>
      <% end %>
    </ul>
  </nav>

  <div class="hamburger" id="js-hamburger">
    <span class="hamburger__line hamburger__line--1"></span>
    <span class="hamburger__line hamburger__line--2"></span>
    <span class="hamburger__line hamburger__line--3"></span>
  </div>
  <div class="black-bg" id="js-black-bg"></div>
</header>