<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Portfolio", root_path, id: "logo" %>

    <%= form_with(url: '/kensaku',method: :get,local: true) do |f| %>
      <%#= f.label :user_name ,"ユーザネーム"%>
      <%= f.text_field :user_name, class: 'form-control kensaku_name',placeholder: "ユーザー検索"%>
      <%#= f.submit '検索' , class: "btn btn-primary kensaku_btn"%>
    <%end%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "ヘルプ", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザー", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "プロフィール編集", edit_user_path(current_user)  %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>